SECRET_KEY=replace-me
DEBUG=false
ALLOWED_HOSTS=localhost,127.0.0.1
SECURE_SSL_REDIRECT=false
SESSION_COOKIE_SECURE=false
CSRF_COOKIE_SECURE=false
AUTH_COOKIE_SECURE=false

DB_ENGINE=django.db.backends.postgresql
DB_NAME=property_seeker
DB_USER=property_seeker
DB_PASSWORD=replace-me
DB_HOST=postgres
DB_PORT=5432
# SQLITE_PATH=/tmp/property-seeker.sqlite3

REDIS_URL=redis://redis:6379/0
CELERY_TIMEZONE=Asia/Tehran
DIVAR_REQUEST_INTERVAL_SECONDS=2.5
